body {
    background-color: #1e1e26;
    background-size: cover;
    background-repeat: no-repeat;
    cursor: url('cursor.svg'), auto;
}

.header {
    text-align: center;
    position: static;
    background-color: rgb(214, 225, 255);
}

h1 {
    font-size: 3em;
    font-weight: lighter;
    color: #160a01;
}

p {
    text-align: center;
    color: rgb(13, 10, 0);
}

#review {
    display: flex;         /* Flexbox groups the divs within it to appear next to/in relation to each other */
    justify-content: center; /* Centers/justifies divs to the center of page*/
    width: 100%;           /* Review, as our pain parent div, will take the full page width */
    background-color:rgb(241, 235, 215);
    opacity: 1;
    border-radius: 5px;
}

#textBox {
    /*main text wrapper! */
    max-width: 600px; 
    width: 90%;
    background-color: #e4e0e0;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center; 
    min-height: 200px; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

#leftText {
    /* Flex to grow in relation textBox, intended to hold some text an a .stretchy-pic object */
    flex-grow: 1; 
    background-color: #e0e0e0;
    padding: 20px;
    max-width: 400px;
    max-height: 400px;
}

.artistLink {
    /* Styles for the clickable artist names, so they pop out more from within the text*/
    text-decoration: underline;
    font-weight: 600; /* makes link text bold*/
    transition: color 0.2s; /* link color fades to red (as seen below) instead of just switching over hover*/
    background: none;
    border: none; /* Gets rid of button border and background so it link blends right in to text */
    padding: 0; /* Gets rid of weird spacing around button attribute */
}

.artistLink:hover {
    /* Styles artist-link when hovered over*/
    color: #f87171;
}

/* Style for header link */
a.headerLink:link, a.headerLink:visited { 
/* We had to establish that these two were going to look the same because it looks weird to have
the visited link be a different color on our webpages. Looks so much better if they're the same color.*/
    color: #160a01;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

/* Style for when the user hovers over link */
a.headerLink:hover {
    color: rgb(189, 83, 251); 
}

/* Style for when the link is being clicked on */
a.headerLink:active {
    color: black; 
}

/* Creates a centered image, reactive to browser window
size. Super crucial class! Very helpful. */
.stretchy-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

.fixedText {
    position: fixed; 
    bottom: 10px; 
    right: 10px; /*the above two put it in the bottom right corner*/
    width: 250px; 
    padding: 10px; 
    border: 2px solid black; 
    background-color: lightgray; 
    z-index: 999; /*z-index determines stacking, which is how .fixtText can be stacked above the other elements on the website*/
    overflow-wrap: break-word; /*word wrap for long strings so they don't run off the page*/
}

.foot {
    bottom: 0;       /* Aligns it to the bottom */
    width: 100%;
    height: 60px;
    background-color: rgb(241, 235, 215);
    background-color: hsla(100, 50%, 100%, 0.3); /*hsla attributes determine the texture and depth of the color*/
}